.review > img {
  width: 20px;
}

.lostFound img {
  width: 150px;
  border: 2px solid black;
  border-radius: 0px auto;
  display: block;
  margin: auto;
}

h2, h4 {
  text-align: center;
}

.innerCard {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
}
